################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ParkingLotManagement.Application/obj
/src/ParkingLotManagement.Domain/obj
/src/ParkingLotManagement.Infrastructure/obj
/src/ParkingLotManagement.Web/obj
