@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total spots</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div><i class="fas fas fa-car text-warning fa-6x"></i></div>
                    </li>
                    <li class="ms-auto"><span class="counter text-warning">15</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Available spots</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div><i class="fas fas fa-car text-primary fa-6x"></i></div>
                    </li>
                    <li class="ms-auto"><span class="counter text-primary">12</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Spots taken</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div><i class="fas fas fa-car text-danger fa-6x"></i></div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-danger">3</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Hourly Fee</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div><i class="fas fa-dollar-sign text-success fa-6x"></i></div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-success">$15</span>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- row -->
    <!-- Row -->
    <div class="row">
       
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-xlg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material" method="post">
                        <div class="form-group mb-4">
                            <h5>Tag Number </h5>
                            <div >
                                <input class="form-control form-control-lg" type="text" value="@Model.parkedDTO.TagNumber" placeholder="Tag Number" aria-label=".form-control-lg example">
                            </div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-center">
                            <button class="btn btn-success btn-lg" asp-page-handler="CarIn">In</button>
                            <button class="btn btn-danger btn-lg" asp-page-handler="CarOut">Out</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-lg-8 col-xlg-6 col-md-12">
          
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="d-md-flex mb-3">
                            <h3 class="box-title mb-0">Parking state</h3>
                            </div>
                        <div class="table-responsive">
                            <table class="table no-wrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Tag Number</th>
                                        <th class="border-top-0">In</th>
                                        <th class="border-top-0">Elapsed Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ParkedCars != null)
                                    {
                                        foreach (var parked in Model.ParkedCars)
                                        {
                                            <tr>
                                                <td>@parked.TagNumber</td>
                                                <td class="txt-oflo">@parked.EntryTime</td>
                                                <td><span class="text-success">@parked.EntryTime</span></td>
                                            </tr>
                                        }
                                    }

                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- row -->
        </div>
    </div>
   

    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="form-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>


</div>